.nosotros {
    @include tablet {
        @include grid(2, 2rem); 
    blockquote {
            margin-top: 0;
        }
        
    }
   blockquote {
     font-weight: bold;
     font-size: 2rem;
     text-align: left;
     margin-left: 0;
     margin-top: 3rem;
    }
}